/*CSS code for the blog section */

.blogs {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center; 
}

.blog-container {
    
}

.blogs .blog-title h1:before {
    left:30%; 
    
}

.blogs .blogs-content {
    flex: 0 0 100%;
    max-width: 100%; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
}

.blogs .blogs-content .blog-box {

    flex: 0 0 calc(25% - 20px);
    max-width: calc(25% - 20px);  
}

.blogs .blogs-content .blog-box .blog-img{
    background-color: #16e0bd;
}

.blogs .blogs-content .blog-box .blog-img img{
    width: 100%; 
    display: block; 
    transition: all .5s ease; 
}

.blogs .blogs-content .blog-box:hover .blog-img img{
    transform: scale(1); 
}

.blogs .blogs-content .blog-box .blog-info {
    padding: 5px 0; 
}
.blogs .blogs-content .blog-box .blog-info span{
    font-size: 16px; 
    color: #838383;
    display: inline-block;
}

.blogs .blogs-content .blog-box .blog-info span:nth-child(2){
    border-left:1px solid #dddddd; 
    padding-left: 8px; 
    margin-left: 10px; 
}

.blogs .blogs-content .blog-box h3{
    font-size: 20px; 
    font-weight: 600; 
    color: #000000; 
    margin: 0 0 10px; 
    padding: 0; 
    line-height: 32px; 
}

.blogs .blogs-content .blog-box p{
    font-size: 15px; 
    font-weight: 400; 
    line-height: 24px; 
    color: #838383; 
    margin: 0 0 10px; 
}

.blogs .blogs-content .blog-box a{
    font-size: 14px; 
    color: #febd01; 
    text-transform: uppercase; 
    font-weight: 600;
    text-decoration: none; 
    display: inline-block;
    border-bottom: 2px solid #febd01; 
    -webkit-transition: all .5s ease; 
    transition: all .5s ease;   
}

.blogs .blogs-content .blog-box a:hover{
    color: black; 
}